div{
	padding: 0;
	margin: 0;
}
#header{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	position:fixed;
	height: 120px;
	width: 100%;
	background: rgb(255, 255, 255, 0.1);
	z-index:10;
}
#header img{
	margin: 10px;
	height: 3.5rem;
	width: 3.5rem;
	border: 0;
	margin-bottom: 0;
}
#header ul{
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style: none;

	height: 40px;
	z-index: 20;
	width: 100%;
	margin: 0;
	padding: 0;
}
#menu li {
	font-weight: 900;
	font-size: 20px;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 0.5rem;
}
#menu li a{
	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
}
#menu li.active a:hover{
	color: #000;
}
#menu li a:hover{
	color: #fff;
}
#menu li.active a{
	color: #fff;
}

.section{
	text-align:center;
	place-items: center;
}
#section0 h1{
	font-size: 160px;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}
#section0,
#section1,
#section2,
#section3,
#slide1,
#slide2,
#slide3{
	background-size: cover;
	background-position: center;
}
#slide1 {
	background-image: url(/imgs/0BIUCJU.jpg);
}
#slide2 {
	background-image: url(/imgs/rfpqI3I.jpg);
}
#slide3 {
	background-image: url(/imgs/MPEMm7o.jpg);
}

#section1{
	background-color: #444;
}
#section2{
	background-image: url(/imgs/MPEMm7o.jpg);
}
#section3{
	background-image: url(/imgs/0BIUCJU.jpg);
}
#section3 h1{
	color: #000;
}

#section h2{
    font-weight: normal;
    margin:0;
    padding:0;
    color:#444;

	font-size: 5em;
	font-family: arial,helvetica;
	margin:0;
	padding:0;
}





body,dl,dt,dd,ol,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol{
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}






.intro p{
	color: #fff;
}


/* Overwriting styles for control arrows for slides
* --------------------------------------- */
.fp-controlArrow.fp-prev {
	left: 50px;
}
.fp-controlArrow.fp-next{
	right: 50px;
}