#header{
	position:fixed;
	height: 100px;
	display:block;
	width: 100%;
	background: rgb(255, 255, 255, 0.1);
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
	top: 0px;
}

#footer{
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	background: rgb(255, 255, 255, 0.1);
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
	bottom:0px;
}

.App-header-nav {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

margin: 0;
height: 15vh;
width: 100%;
background-color: rgb(255, 255, 255, 0.1);

position: fixed;
top: 0%;
}

#logo {
	margin: 5px;
	height: 3rem;
	width: 3rem;
}

.App-header-nav-list {
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;

margin: 0px;
width: 100%;

font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: 800;
text-transform: uppercase;
list-style: none;
text-decoration-style: none;
text-decoration-line: none;
color: black;
}
.Nav-list-item:hover {
color: darkgray;
}

.App-header-sec {
display: grid;
place-items: center;

height: 100vh;
width: 100%;

font-family: "Josefin Sans", Arial, sans-serif;
font-size: 25px;
font-weight: 500;
text-transform: uppercase;
text-shadow: darkslategrey;
color: white;
}

.App-gallery {
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: row;

height: 85vh;
width: 100%;
padding-top: 15vh;
}

.App-services {
display: flex;
flex-direction: row;
flex-wrap: wrap;
place-items: center;

background-color: #ced4da;
height: 85vh;
width: 100%;
padding-top: 15vh;
}

.App-contact {
background-color: #6c757d;
height: 55vh;
width: 100%;
padding-top: 15vh;
background-image: url(/imgs/rfpqI3I.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;

font-size: 2rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: blanchedalmond;
font-weight: 900;
}

.App-footer {
background-color: #161a1d;
height: 30vh;
width: 100%;
}


@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

h1{
	font-size: 4em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section{

	text-align:center;
	place-items: center;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3,
#slide1,
#slide2{
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

/* Defining each sectino background and styles
* --------------------------------------- */
#section0{
	background-image: url(/imgs/xpuL5mw.jpg);
}
#section0 h1{
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
#section2{
	background-image: url(/imgs/MPEMm7o.jpg);
	padding: 6% 0 0 0;
}
#section3{
	background-image: url(/imgs/0BIUCJU.jpg);
	padding: 6% 0 0 0;
}
#section3 h1{
	color: #000;
}


/*Adding background for the slides
* --------------------------------------- */
#slide1{
	background-image: url(/imgs/0BIUCJU.jpg);
	padding: 6% 0 0 0;
}
#slide2{
	background-image: url(/imgs/rfpqI3I.jpg);
	padding: 6% 0 0 0;
}



/* Style for our header texts
* --------------------------------------- */
h1{
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}
.intro p{
	color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}


/*!
 * fullPage 3.1.2
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
 html.fp-enabled,
 .fp-enabled body {
	 margin: 0;
	 padding: 0;
	 overflow:hidden;
 
	 /*Avoid flicker on slides transitions for mobile phones #336 */
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
 }
 .fp-section {
	 position: relative;
	 -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
	 -moz-box-sizing: border-box; /* <=28 */
	 box-sizing: border-box;
 }
 .fp-slide {
	 float: left;
 }
 .fp-slide, .fp-slidesContainer {
	 height: 100%;
	 display: block;
 }
 .fp-slides {
	 z-index:1;
	 height: 100%;
	 overflow: hidden;
	 position: relative;
	 -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
	 transition: all 0.3s ease-out;
 }
 .fp-section.fp-table, .fp-slide.fp-table {
	 display: table;
	 table-layout:fixed;
	 width: 100%;
 }
 .fp-tableCell {
	 display: table-cell;
	 vertical-align: middle;
	 width: 100%;
	 height: 100%;
 }
 .fp-slidesContainer {
	 float: left;
	 position: relative;
 }
 .fp-controlArrow {
	 -webkit-user-select: none; /* webkit (safari, chrome) browsers */
	 -moz-user-select: none; /* mozilla browsers */
	 -khtml-user-select: none; /* webkit (konqueror) browsers */
	 -ms-user-select: none; /* IE10+ */
	 position: absolute;
	 z-index: 4;
	 top: 50%;
	 cursor: pointer;
	 width: 0;
	 height: 0;
	 border-style: solid;
	 margin-top: -38px;
	 -webkit-transform: translate3d(0,0,0);
	 -ms-transform: translate3d(0,0,0);
	 transform: translate3d(0,0,0);
 }
 .fp-controlArrow.fp-prev {
	 left: 15px;
	 width: 0;
	 border-width: 38.5px 34px 38.5px 0;
	 border-color: transparent #fff transparent transparent;
 }
 .fp-controlArrow.fp-next {
	 right: 15px;
	 border-width: 38.5px 0 38.5px 34px;
	 border-color: transparent transparent transparent #fff;
 }
 .fp-scrollable {
	 overflow: hidden;
	 position: relative;
 }
 .fp-scroller{
	 overflow: hidden;
 }
 .iScrollIndicator{
	 border: 0 !important;
 }
 .fp-notransition {
	 -webkit-transition: none !important;
	 transition: none !important;
 }
 #fp-nav {
	 position: fixed;
	 z-index: 100;
	 top: 50%;
	 opacity: 1;
	 transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 -webkit-transform: translate3d(0,-50%,0);
 }
 #fp-nav.fp-right {
	 right: 17px;
 }
 #fp-nav.fp-left {
	 left: 17px;
 }
 .fp-slidesNav{
	 position: absolute;
	 z-index: 4;
	 opacity: 1;
	 -webkit-transform: translate3d(0,0,0);
	 -ms-transform: translate3d(0,0,0);
	 transform: translate3d(0,0,0);
	 left: 0 !important;
	 right: 0;
	 margin: 0 auto !important;
 }
 .fp-slidesNav.fp-bottom {
	 bottom: 17px;
 }
 .fp-slidesNav.fp-top {
	 top: 17px;
 }
 #fp-nav ul,
 .fp-slidesNav ul {
   margin: 0;
   padding: 0;
 }
 #fp-nav ul li,
 .fp-slidesNav ul li {
	 display: block;
	 width: 14px;
	 height: 13px;
	 margin: 7px;
	 position:relative;
 }
 .fp-slidesNav ul li {
	 display: inline-block;
 }
 #fp-nav ul li a,
 .fp-slidesNav ul li a {
	 display: block;
	 position: relative;
	 z-index: 1;
	 width: 100%;
	 height: 100%;
	 cursor: pointer;
	 text-decoration: none;
 }
 #fp-nav ul li a.active span,
 .fp-slidesNav ul li a.active span,
 #fp-nav ul li:hover a.active span,
 .fp-slidesNav ul li:hover a.active span{
	 height: 12px;
	 width: 12px;
	 margin: -6px 0 0 -6px;
	 border-radius: 100%;
  }
 #fp-nav ul li a span,
 .fp-slidesNav ul li a span {
	 border-radius: 50%;
	 position: absolute;
	 z-index: 1;
	 height: 4px;
	 width: 4px;
	 border: 0;
	 background: #333;
	 left: 50%;
	 top: 50%;
	 margin: -2px 0 0 -2px;
	 -webkit-transition: all 0.1s ease-in-out;
	 -moz-transition: all 0.1s ease-in-out;
	 -o-transition: all 0.1s ease-in-out;
	 transition: all 0.1s ease-in-out;
 }
 #fp-nav ul li:hover a span,
 .fp-slidesNav ul li:hover a span{
	 width: 10px;
	 height: 10px;
	 margin: -5px 0px 0px -5px;
 }
 #fp-nav ul li .fp-tooltip {
	 position: absolute;
	 top: -2px;
	 color: #fff;
	 font-size: 14px;
	 font-family: arial, helvetica, sans-serif;
	 white-space: nowrap;
	 max-width: 220px;
	 overflow: hidden;
	 display: block;
	 opacity: 0;
	 width: 0;
	 cursor: pointer;
 }
 #fp-nav ul li:hover .fp-tooltip,
 #fp-nav.fp-show-active a.active + .fp-tooltip {
	 -webkit-transition: opacity 0.2s ease-in;
	 transition: opacity 0.2s ease-in;
	 width: auto;
	 opacity: 1;
 }
 #fp-nav ul li .fp-tooltip.fp-right {
	 right: 20px;
 }
 #fp-nav ul li .fp-tooltip.fp-left {
	 left: 20px;
 }
 .fp-auto-height.fp-section,
 .fp-auto-height .fp-slide,
 .fp-auto-height .fp-tableCell{
	 height: auto !important;
 }
 
 .fp-responsive .fp-auto-height-responsive.fp-section,
 .fp-responsive .fp-auto-height-responsive .fp-slide,
 .fp-responsive .fp-auto-height-responsive .fp-tableCell {
	 height: auto !important;
 }
 
 /*Only display content to screen readers*/
.fp-sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

#callbacksDiv {
	font-size:1.2em;
}
#callbacksDiv {
	font-size: 1.4em;
	font-weight: bold;
	color: white;
	text-decoration: underline;