.App {
  text-align: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background-image: url(/imgs/0BIUCJU.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.App-header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 15vh;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.1);

  position: fixed;
  top: 0%;
}

.App-header-nav-logo {
  margin: 5px;
  height: 40px;
  width: 40px;
}

.App-header-nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  
  margin: 0px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  list-style: none;
  text-decoration-style: none;
  text-decoration-line: none;
  color: black;
}
.Nav-list-item:hover {
  color: darkgray;
}

.App-header-sec {
  display: grid;
  place-items: center;

  height: 100vh;
  width: 100%;

  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: darkslategrey;
  color: white;
}

.App-gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  height: 85vh;
  width: 100%;
  padding-top: 15vh;
}

.App-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-items: center;

  background-color: #ced4da;
  height: 85vh;
  width: 100%;
  padding-top: 15vh;
}

.App-contact {
  background-color: #6c757d;
  height: 55vh;
  width: 100%;
  padding-top: 15vh;
  background-image: url(/imgs/rfpqI3I.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blanchedalmond;
  font-weight: 900;
}

.App-footer {
  background-color: #161a1d;
  height: 30vh;
  width: 100%;
}